*{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
}
.navbar_2 {
    /* padding: 10px; */
    /* width: 100%; */
    /* height: 30px; */
    z-index: 1;
    background-color: #072B60;
    /* overflow: hidden; */

    /*----Animation------*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_content_2 {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    margin: 0 100px;
}
.dh_logo_2{
/* position: relative; */
display: flex;
justify-content: center;
align-items: center;

}
.nav_logo_2 img {
    /* top: 10px; */
    /* position: fixed; */
    /* left: 0; */
    height: 35px;
    width: 60px;
    /* padding: 10px; */
    /* padding-left: 110px; */
    z-index: 1;
}
.nav_logo_name_2 h1 {
    /* top: 2px;
    position: fixed; */
    padding-left: 16px;
    font-weight: 500;
    font-size: 32px;
}
.menu_links{
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    padding-top: 30px;
}
.lets_right_navbar2 {
    /* outline: none; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    border-radius: 6px;
}
.search_box_navbar2 {
    outline: none;
    border: none;
    width: 243px;
    height: 25px;
    padding: 0 9px;
    font-size: 17px;
    color: black !important;
}

.android_nav{
    background-color: #072B60;
     display: flex;
        justify-content: space-between;
        flex-direction: row;
}
.android_nav a{
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 2px 3px;
   
}

@media (min-width:786px) {
    .android_nav{
        display: none;
        
    }
}
@media (max-width:786px) {
    .nav_content_2{
        display: none;
    }

    

}


